
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Public Sans", sans-serif;
}

header{
    background-color: #00b4d8;
    display: flex;
    justify-content: space-around;
    gap: 500px;
    line-height: 13px;

}
.logo img{
    width:230px;
    /* background-color: darkorange; */
}

.menu-items ul {
 display: flex;
 padding: 20px;
 /* background-color: forestgreen; */
 line-height: 20px;
 gap: 30px;
 text-align: center;
 margin-top: 26px;



}
.menu-items ul li {
    list-style: none;
}
.menu-items ul li a{
    text-decoration: none;
    color: #03045e;
}


.logo-banner img{
    width: 100%;
    height: 480px;
}

.banner {
    position: relative;
    width: 100%;
    /* background-color: blue; */

}
.hero-banner {
    position: relative;
    text-align: center;
    

}
.banner{
    position: absolute;
    top: 180px;
    right: 500px;
}

.banner h1{
    color: #caf0f8;
    font-size: 36px;
    right: 20px;
}
.banner p{
    color: #caf0f8;
    font-size: 20px;
   
}

.banner form input{
    padding: 15px;
    width: 20%;
    border-radius: 30px;
}

.btn-inbox button{
    color: white;
    background-color: #03045e;
    border: none;
    border-radius:5px;
    width: 180px;
    padding: 15px;
    font-size: 16px;
    transition: transform 0.4s ease;

}
.btn-inbox :hover{
    color: #03045e;
    background-color: #00b4d8;
}



.footer-content{
    width: 100%;
    background-color: #00b4d8; 
    display: flex;
}
.footer-logo{
    width: 20%;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image{
    width: 100%;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footer-text{
    width: 20%;

    margin-top: 20px;
}
.footer-text p{
    margin-top: 20px;
}
.footer-text a{
    width: 100%;
    border: 1px solid white;
    border-radius: 20px;
    color: black;
    padding: 10px;
    margin-top: 10px;
}
.footer-text a:hover{
    color: blue;
    background-color: white;
}

.footer-text1{
    width: 20%;
    margin-top: 20px;
}
.footer-text1 p{
    margin-top: 5px;
}
.footer-text1 a{
    text-decoration: none;
    color: black;
}
.footer-text1 a:hover{
    color: blue;
}

.footer-text form input{
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.footer-text button{
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border: none;
}


.footer-bottom {
    border-top: 1px solid #2a3b5f;
    display: flex;
    background-color: #00b4d8;
}
.footer-bottom p{
    margin: auto;
    padding: 15px;
}
.footer-bottom a {
    color: #4da3ff;
}



/* Aboutus */

.section{
    width: 100%;
    display: flex;
}
.section-image{
    width: 50%;
    padding: 50px;
}
.section-image1{
    width: 60%;
    margin-left: 300px;
    border-radius: 20px;
}
.section-image1 img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.section-box{
    width: 50%;
    padding: 50px;
}
.section-box p{
    color: #00b4d8;
    font-style: italic;
}

.doctor-section h1{
    text-align: center;
}
.doctor-box{
    /* background-color: #90e0ef; */
    width: 320px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;

}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.name-dr{
    background-color: #90e0ef;
    line-height: 10px;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.4s ease;

}
.name-dr p{
    margin-top: 10px;
    color: #03045e;
}

.name-dr:hover{
    background-color: #48cae4;
    transform: translateY(-10px);
    color: white;

}
.icon-dr{
    margin-top: 10px;
    color: #03045e;
    display: flex;
    gap: 20px;
    justify-content: center;
    transition: transform 0.4s ease;
    
}
.icon-dr i{
    font-size: 20px;
    background-color: #caf0f8;
    padding: 5px;
    border-radius: 50%;     
}

.icon-dr i:hover{
    color: #caf0f8;
    background-color: #03045e;
}

.doctor-list{
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    display: flex;

}
.btn-pf{
    margin-top: 10px;    
}
.btn-pf button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #03045e;
    color: white;
    transition: transform 0.4s ease;

}
.btn-pf button:hover{
    background-color: #00b4d8;
    color: #03045e;
    transform: translateY(-10px);
}


.appointment-page h1{
    text-align: center;
}
.appt-box{
    width: 400px;
    padding: 7px;
    border-radius: 10px;
    /* background-color: #caf0f8;     */

}



.appt-box form{
    display: flex;
    flex-direction: column;
    gap: 15px;



}

.appt-box form input{
    padding: 16px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color:#332e2e;
    font-size: 14px;

}

.appt-box form select{
    padding: 16px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: #332e2e;
    font-size: 14px;
    display: flex;

}



.appt-box form button{
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    background-color: #03045e;
    color: white;
    transition: transform 0.4s ease;

}
.appt-box form button:hover{
    background-color: #00b4d8;
    color: white;
    transform: translateY(-10px);
}



.message :required {
    color: #2a3b5f;
    width: 369px;
    padding-bottom: 100px;
    

}

.appt-image{
    width: 400;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}
.appt-image img{
    width: 529px;
    height: 589px;
    object-fit: cover;
}


.appt-content{
    display: flex;
    gap: 30px;
    margin-top: 50px;   
    background-color: #caf0f8;
    justify-content: center;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    
}



/* contact */

.contact-page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 22px;
}
.contact-section{
    width: 22%;
    background-color: #caf0f8;
    display: flex;
    padding: 20px;
    border-radius: 20px;
}
.contact-section h1{
    font-size: 30px;
}
.icon{
    width: 50%;
}
.icon-box{
    background-color: #ffffff;
    width: 10%;
    padding: 20px;
    border-radius: 40px;
    margin-top: 20px;
    margin-left: 80px;
}
.icon-box i{
    color: #0f13ff;
}
.text{
    width: 50%;
}
.text p{
    color: rgb(173, 173, 173);
}

.contact-box{
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    padding: 4px;
}
.forms{
    width: 38%;
    background-color: #caf0f8;
    margin-left: 235px;
    border-radius: 30px;
}
.contact-map{
    width: 35%;
    border-radius: 30px;
}
.contact-map img{
    width: 100%;
    border-radius: 30px;
}
.forms p{
    border: 1px solid #838383;
    width: 15%;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    margin-left: 45px;
    font-size: 20px;
    margin-top: 40px;
}
.forms h1{
    font-size: 40px;
    margin-left: 45px;
}
.forms form input{
    padding: 20px;
    width: 78%;
    margin-left: 45px;
    border-radius: 10px;
    margin-top: 15px;
}
.forms form button{
    padding: 20px;
    width: 84%;
    margin-left: 45px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #03045e;
    color: #ffffff;
    font-size: 25px;
}









.container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 20px;
}

.content {
  background: #ffffff;
  padding: 20px;
  flex: 3;
  border-radius: 6px;
}

.content h1 {
  margin-top: 0;
}

.meta {
  color: #777;
  font-size: 14px;
}

.main-image {
  width: 100%;
  border-radius: 6px;
  margin: 15px 0;
}

ol {
  padding-left: 20px;
}

.cta {
  margin-top: 20px;
  border-radius: 6px;
}

.cta button {
  background: #1f6ae1;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 4px;
  cursor: pointer;
}

