
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Public Sans", sans-serif;
}

header{
    background-color: #00b4d8;
    display: flex;
    justify-content: space-around;
    gap: 500px;
    line-height: 13px;

}
.logo img{
    width:230px;
    /* background-color: darkorange; */
}

.menu-items ul {
 display: flex;
 padding: 20px;
 /* background-color: forestgreen; */
 line-height: 20px;
 gap: 30px;
 text-align: center;
 margin-top: 26px;



}
.menu-items ul li {
    list-style: none;
}
.menu-items ul li a{
    text-decoration: none;
    color: #03045e;
}


.logo-banner img{
    width: 100%;
    height: 100%;
}

.banner {
    position: relative;
    width: 100%;
    /* background-color: blue; */

}
.hero-banner {
    position: relative;
    text-align: center;
    

}
.banner{
    position: absolute;
    top: 116px;
    right: 200px;
}

.banner h1{
    color: #03045e;
    font-size: 36px;
}
.banner p{
    color: #03045e;
    font-size: 20px;
   
}

.btn-inbox button{
    color: white;
    background-color: #03045e;
    border: none;
    border-radius:5px;
    width: 180px;
    padding: 15px;
    font-size: 16px;
    transition: transform 0.4s ease;

}
.btn-inbox :hover{
    color: #03045e;
    background-color: #00b4d8;
}



.footer-content{
    width: 100%;
    background-color: #00b4d8; 
    display: flex;
}
.footer-logo{
    width: 20%;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image{
    width: 100%;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footer-text{
    width: 20%;

    margin-top: 20px;
}
.footer-text p{
    margin-top: 20px;
}
.footer-text a{
    width: 100%;
    border: 1px solid white;
    border-radius: 20px;
    color: black;
    padding: 10px;
    margin-top: 10px;
}
.footer-text a:hover{
    color: blue;
    background-color: white;
}

.footer-text1{
    width: 20%;
    margin-top: 20px;
}
.footer-text1 p{
    margin-top: 5px;
}
.footer-text1 a{
    text-decoration: none;
    color: black;
}
.footer-text1 a:hover{
    color: blue;
}

.footer-text form input{
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.footer-text button{
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border: none;
}


.footer-bottom {
    border-top: 1px solid #2a3b5f;
    display: flex;
    background-color: #00b4d8;
}
.footer-bottom p{
    margin: auto;
    padding: 15px;
}
.footer-bottom a {
    color: #4da3ff;
}

.feature-box{
    background-color: #90e0ef;
    width: 300px;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.4s ease;
}
.feature-box:hover{
    background-color: #48cae4;
    transform: translateY(-10px);
    color: white;
}
  

.feature-content{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}
.icon-feature{
    color: #03045e;
   
}
.icon-feature i{
    font-size: 30px;
    background-color: #caf0f8;
    padding: 15px;
    border-radius: 50%;

}
.tittle{
    text-align: center;
}
.tittle span{
    color: #0077b6;
}

.feature-content p{
    margin-top: 10px;
    line-height: 20px;
}

.doctor-box{
    /* background-color: #90e0ef; */
    width: 240px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;

}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.name-dr{
    background-color: #90e0ef;
    line-height: 10px;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.4s ease;

}
.name-dr p{
    margin-top: 10px;
    color: #03045e;
}

.name-dr:hover{
    background-color: #48cae4;
    transform: translateY(-10px);
    color: white;

}
.icon-dr{
    margin-top: 10px;
    color: #03045e;
    display: flex;
    gap: 20px;
    justify-content: center;
    transition: transform 0.4s ease;
    
}
.icon-dr i{
    font-size: 20px;
    background-color: #caf0f8;
    padding: 5px;
    border-radius: 50%;     
}

.icon-dr i:hover{
    color: #caf0f8;
    background-color: #03045e;
}

.doctor-list{
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    display: flex;

}
.btn-pf{
    margin-top: 10px;    
}
.btn-pf button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #03045e;
    color: white;
    transition: transform 0.4s ease;

}
.btn-pf button:hover{
    background-color: #00b4d8;
    color: #03045e;
    transform: translateY(-10px);
}
/* .doctor-box :hover{
    transition: transform 0.4s ease;
    background-color: #48cae4;
    transform: translateY(-10px);
    color: white;

} */

.service-box{
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.4s ease;
    background-color: #90e0ef;

}
.service-box:hover{
    background-color: #48cae4;
    transform: translateY(-10px);
    color: white;
}


.service-item{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

.service-content{
    display: block;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;   

    
}

.service-box h3{
    margin-top: 10px;
}   
.service-box p{
    margin-top: 10px;
    line-height: 20px;
}
.service-box i{
    font-size: 30px;
    color: #03045e;
    background-color: #caf0f8;
    padding: 15px;
    border-radius: 50%;

}

.btn-readmore{
    margin-top: 10px;    
}
.btn-readmore button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #03045e;
    color: white;
    transition: transform 0.4s ease;

}
.btn-readmore button:hover{
    background-color: #00b4d8;
    color: #03045e;
    transform: translateY(-10px);

}

.service-content p{
    margin-top: 10px;
    line-height: 20px;

}

.image-patient{
    width: 100%;
    border-radius: 50px;
    overflow: hidden;
    text-align: center;



}

.image-patient img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    


}

.patient-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;  
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    background-color: #90e0ef;
    transition: transform 0.4s ease;
}

.patient-items:hover{
    background-color: #48cae4;
    color: white;
    transform: translateY(-10px);

}   
.patient-content{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}



.patient-says{
    margin-top: 20px;
    text-align: center;
    width:390px;
    
}

.patient-says h3{
    margin-top: 10px;   
    color: #03045e; 
}
.icon-rating{
    color: #ffb703;
    margin-top: 10px;
    text-align: center;
}
.icon-rating i{
    font-size: 15px;
}
.patient-content p{
    margin-top: 10px;
    line-height: 20px;
    text-align: center;
}


.appt-box{
    width: 400px;
    padding: 50px;
    border-radius: 10px;
    background-color: #caf0f8;    

}



.appt-box form{
    display: flex;
    flex-direction: column;
    gap: 15px;



}

.appt-box form input{
    padding: 16px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: gray;
    font-size: 14px;

}

.appt-box form select{
    padding: 16px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: gray;
    font-size: 14px;
}



.appt-box form button{
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    background-color: #03045e;
    color: white;
    transition: transform 0.4s ease;

}
.appt-box form button:hover{
    background-color: #00b4d8;
    color: #03045e;
    transform: translateY(-10px);
}



.message :required {
    color: gray;
    width: 369px;
    padding-bottom: 100px;
    

}

.appt-image{
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}
.appt-image img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}


.appt-content{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;   

    
}
