@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Public Sans", sans-serif;
}

header{
    background-color: #00b4d8;
    display: flex;
    justify-content: space-around;
    gap: 500px;
    line-height: 13px;

}
.logo img{
    width:230px;
    /* background-color: darkorange; */
}

.menu-items ul {
 display: flex;
 padding: 20px;
 /* background-color: forestgreen; */
 line-height: 20px;
 gap: 30px;
 text-align: center;
 margin-top: 26px;



}
.menu-items ul li {
    list-style: none;
}
.menu-items ul li a{
    text-decoration: none;
    color: #03045e;
}


.logo-banner img{
    width: 100%;
    height: 100%;
}

.banner {
    position: relative;
    width: 100%;
    /* background-color: blue; */

}
.hero-banner {
    position: relative;
    text-align: center;
    

}
.banner{
    position: absolute;
    top: 116px;
    right: 200px;
}

.banner h1{
    color: #03045e;
    font-size: 36px;
}
.banner p{
    color: #03045e;
    font-size: 20px;
   
}

.btn-inbox button{
    color: white;
    background-color: #03045e;
    border: none;
    border-radius:5px;
    width: 180px;
    padding: 15px;
    font-size: 16px;
    transition: transform 0.4s ease;

}
.btn-inbox :hover{
    color: #03045e;
    background-color: #00b4d8;
}

