
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Public Sans", sans-serif;
}

header{
    background-color: #00b4d8;
    display: flex;
    justify-content: space-around;
    gap: 500px;
    line-height: 13px;

}
.logo img{
    width:230px;
    /* background-color: darkorange; */
}

.menu-items ul {
 display: flex;
 padding: 20px;
 /* background-color: forestgreen; */
 line-height: 20px;
 gap: 30px;
 text-align: center;
 margin-top: 26px;



}
.menu-items ul li {
    list-style: none;
}
.menu-items ul li a{
    text-decoration: none;
    color: #03045e;
}


.logo-banner img{
    width: 100%;
    height: 100%;
}

.banner {
    position: relative;
    width: 100%;
    /* background-color: blue; */

}
.hero-banner {
    position: relative;
    text-align: center;
    

}
.banner{
    position: absolute;
    top: 116px;
    right: 200px;
}

.banner h1{
    color: #03045e;
    font-size: 36px;
}
.banner p{
    color: #03045e;
    font-size: 20px;
   
}

.btn-inbox button{
    color: white;
    background-color: #03045e;
    border: none;
    border-radius:5px;
    width: 180px;
    padding: 15px;
    font-size: 16px;
    transition: transform 0.4s ease;

}
.btn-inbox :hover{
    color: #03045e;
    background-color: #00b4d8;
}



.footer-content{
    width: 100%;
    background-color: #00b4d8; 
    display: flex;
}
.footer-logo{
    width: 20%;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image{
    width: 100%;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footer-text{
    width: 20%;

    margin-top: 20px;
}
.footer-text p{
    margin-top: 20px;
}
.footer-text a{
    width: 100%;
    border: 1px solid white;
    border-radius: 20px;
    color: black;
    padding: 10px;
    margin-top: 10px;
}
.footer-text a:hover{
    color: blue;
    background-color: white;
}

.footer-text1{
    width: 20%;
    margin-top: 20px;
}
.footer-text1 p{
    margin-top: 5px;
}
.footer-text1 a{
    text-decoration: none;
    color: black;
}
.footer-text1 a:hover{
    color: blue;
}

.footer-text form input{
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.footer-text button{
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border: none;
}


.footer-bottom {
    border-top: 1px solid #2a3b5f;
    display: flex;
    background-color: #00b4d8;
}
.footer-bottom p{
    margin: auto;
    padding: 15px;
}
.footer-bottom a {
    color: #4da3ff;
}

.feature-box{
    background-color: #90e0ef;
    width: 300px;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}

.feature-content{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}
.icon-feature{
    color: #03045e;
   
}
.icon-feature i{
    font-size: 30px;
}
.tittle{
    text-align: center;
}
.tittle span{
    color: #0077b6;
}


.doctor-box{
    background-color: #90e0ef;
    width: 250px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.image img{
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
}

